body {
    width: 1000px;
    background: linear-gradient(to top left, #003300 0%, #99ccff 100%);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    text-align: center;
    margin: auto;
    margin-top: 17%;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 75px;
    letter-spacing: 10px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua";
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

.para {
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 25px;
    color: white;
}

.cv{
    color: white;
}
.cv:hover{
    color: black;
    transition: 0.5s;
}

.circle{
    margin: 20px;
    display: inline-block;
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: 20px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.5s;
    text-decoration: none;
}


.fa {
    color: white;
    text-decoration: none;
}

.fa:hover {
    transition: 0.5s;
    transform: scale(2);
}
